<div class="container mt-5 light-text-green-shadow">
  <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
  <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="center center">
    <div class="card-red-shadow border-red rounded">
      <p-card>
        <div class="p-3 pl-5 pr-5 ml-0 ml-lg-5 mr-0 mr-lg-5 text-center" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <h3>{{this.room}}</h3>
          <div *ngFor="let user of roomObj.users">
            <h5>{{user.firstName}} {{user.lastName}}</h5>
          </div>
          <h5 *ngIf="roomObj.users?.length < 1">Na tejto izbe zatiaľ nie je nikto ubytovaný</h5>
          <p-button label="Rezervovať" styleClass="button-dark-text-green-shadow input-red-shadow p-button-danger"
                    [disabled]="(user.sex === 'male' ? roomObj?.roomType === 'female' : roomObj?.roomType === 'male') || roomObj?.users.length > 3"
                    (onClick)="reserve()"></p-button>
        </div>
      </p-card>
    </div>

  </div>
</div>

<p-confirmDialog></p-confirmDialog>


