<main class="container">
  <div class="mt-5 card-yellow-shadow border-yellow">
    <p-table [value]="reservations" sortField="date" styleClass="p-datatable-responsive-demo" [autoLayout]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Dátum</th>
          <th>Od</th>
          <th>Do</th>
          <th>Zmazať</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reservation>
        <tr>
          <td>{{reservation.date * 1000 | date:'EEEE, d MMMM y'}}</td>
          <td>{{reservation.timeFrom + ':00'}}</td>
          <td>{{reservation.timeUntil + ':00'}}</td>
          <td><p-button styleClass="p-button-danger" label="Zmazať rezerváciu" (onClick)="deleteReservation(reservation)"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
    <div fxLayout="row" fxLayoutAlign="center center" class="text-center" *ngIf="reservations.length == 0">
      <h3 class="light-text-green-shadow m-5">Momentálne nemáš žiadne rezervácie</h3>
    </div>
  </div>

</main>

<p-confirmDialog header="Potvrdenie" icon="pi pi-exclamation-triangle"></p-confirmDialog>
