<div class="container mt-5 light-text-green-shadow">
  <div fxLayout="column" fxLayoutAlign="space-between center" class="w-100" fxLayoutGap="10px">
    <h4 class="mb-5">{{this.room}}</h4>
    <div class="p-5 clickable block-a" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('7')">
      <h1>7. poschodie</h1>
    </div>

    <div class="p-5 clickable block-b" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('6')">
      <h1>6. poschodie</h1>
    </div>

    <div class="p-5 clickable block-c" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('5')">
      <h1>5. poschodie</h1>
    </div>

    <div class="p-5 clickable block-d" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('4')">
      <h1>4. poschodie</h1>
    </div>

    <div class="p-5 clickable block-e" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('3')">
      <h1>3. poschodie</h1>
    </div>

    <div class="p-5 clickable block-f" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('2')">
      <h1>2. poschodie</h1>
    </div>

    <div class="p-5 clickable block-g" fxLayout="row" fxLayoutAlign="center center" (click)="nextPage('1')">
      <h1>1. poschodie</h1>
    </div>

  </div>
</div>
