<div class="container">
  <p-table [loading]="isLoading" [value]="wms">
    <ng-template pTemplate="header">
      <tr>
        <th>Číslo práčky</th>
        <th>Status</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wm>
      <tr>
        <td>{{wm.uid}}</td>
        <td>{{wm.status}}</td>
        <td>
          <p-button *ngIf="wm.status === 'active'" label="Vypnúť" styleClass="p-button-danger" (click)="setStatus(wm, 'inactive')"></p-button>
          <p-button *ngIf="wm.status === 'inactive'" label="Zapnúť" (click)="setStatus(wm, 'active')"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
