<div class="register-container border-green card-green-shadow  p-5" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">

  <h5 class="text-green-shadow">Registrácia</h5>
  <form (ngSubmit)="register()" [formGroup]="registerForm" fxLayout="column" fxLayoutGap="30px">
    <span class="p-float-label">
    <input class="input-green-shadow" id="username" type="email" pInputText formControlName="email">
    <label for="username">Email</label>
  </span>

    <span class="p-float-label">
    <input class="input-green-shadow" id="pass" type="password" pInputText formControlName="password">
    <label for="pass">Heslo</label>
  </span>

    <span class="p-float-label">
    <input class="input-green-shadow" id="repass" type="password" pInputText formControlName="repassword">
    <label for="repass">Zopakovať heslo</label>
  </span>

    <span class="p-float-label">
    <input class="input-green-shadow" id="firstName" type="text" pInputText formControlName="firstName">
    <label for="pass">Meno</label>
  </span>

    <span class="p-float-label">
    <input class="input-green-shadow" id="lastName" type="text" pInputText formControlName="lastName">
    <label for="pass">Priezvisko</label>
  </span>

    <span class="p-float-label w-100">
      <p-dropdown styleClass="w-100 input-green-shadow" [options]="sexOptions" optionLabel="label" placeholder="Vyberte pohlavie" optionValue="value" id="sex" formControlName="sex"></p-dropdown>
  </span>
    <button class="button-dark-text-green-shadow input-green-shadow" type="submit" pButton label="Registrovať"></button>
  </form>

  <span class="clickable text-center light-text-green-shadow" routerLink="/auth/login">Máte už účet? Prihláste sa tu</span>




</div>
