<div class="register-container  p-5" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">

  <h5>Registrácia</h5>
  <form (ngSubmit)="register()" [formGroup]="registerForm" fxLayout="column" fxLayoutGap="30px">
    <span class="p-float-label">
    <input id="username" type="email" pInputText formControlName="email">
    <label for="username">Email</label>
  </span>

    <span class="p-float-label">
    <input id="pass" type="password" pInputText formControlName="password">
    <label for="pass">Heslo</label>
  </span>

    <span class="p-float-label">
    <input id="repass" type="password" pInputText formControlName="repassword">
    <label for="repass">Zopakovať heslo</label>
  </span>
    <button type="submit" pButton label="Registrovať"></button>
  </form>

  <span class="clickable" routerLink="/auth/login">Máte už účet? Prihláste sa tu</span>




</div>
