<div class="container mt-5 light-text-green-shadow">
  <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <h4 class="mb-5">{{this.room}}</h4>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100" fxLayoutGap="40px">
      <div class="p-5 clickable block" (click)="nextPage('01')" fxLayout="row" fxLayoutAlign="center center">
        <h1>01</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('02')" fxLayout="row" fxLayoutAlign="center center">
        <h1>02</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('03')" fxLayout="row" fxLayoutAlign="center center">
        <h1>03</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('04')" fxLayout="row" fxLayoutAlign="center center">
        <h1>04</h1>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100" fxLayoutGap="40px">
      <div class="p-5 clickable block" (click)="nextPage('05')" fxLayout="row" fxLayoutAlign="center center">
        <h1>05</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('06')" fxLayout="row" fxLayoutAlign="center center">
        <h1>06</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('08')" fxLayout="row" fxLayoutAlign="center center">
        <h1>08</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('09')" fxLayout="row" fxLayoutAlign="center center">
        <h1>09</h1>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100" fxLayoutGap="40px">
      <div class="p-5 clickable block" (click)="nextPage('10')" fxLayout="row" fxLayoutAlign="center center">
        <h1>10</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('11')" fxLayout="row" fxLayoutAlign="center center">
        <h1>11</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('12')" fxLayout="row" fxLayoutAlign="center center">
        <h1>12</h1>
      </div>

      <div class="p-5 clickable block" (click)="nextPage('13')" fxLayout="row" fxLayoutAlign="center center">
        <h1>13</h1>
      </div>
    </div>


  </div>
</div>
