.block {
  border-radius: 16px;
  //border: #ffffff 2px solid;
  width: 100%;
  position: relative;
  background-color: #141414;
}

.block:after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;
  //background-color: #ffffff;
  background: linear-gradient(to right top, #2196f3, #f44336);
  border-radius: 16px;
}

.block:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;
  //background-color: #ffffff;
  background: linear-gradient(to right, #2196f3, #f44336);
  //background-size: 400%;
  border-radius: 16px;
  filter: blur(15px);
}

h1 {
  margin-bottom: 0
}

