<div class="container">
  <p-table [loading]="isLoading" [value]="wms">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">LogID</th>
        <th style="width: 10%;">Cislo pracky</th>
        <th>User ID</th>
        <th style="width: 20%">Cas potvrdenia</th>
        <th style="width: 20%;">Cas rezervacie</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wm>
      <tr>
        <td>{{wm.logId}}</td>
        <td>{{wm.uid}}</td>
        <td>{{wm.userId}}</td>
        <td>{{unixToDate(wm.adminTimeUntil)}}</td>
        <td>{{unixToDate(wm.timeUntil)}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
