<div class="container mt-5 light-text-green-shadow">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="p-5 clickable block-a" (click)="nextPage('A')">
      <h1>Blok A</h1>
    </div>

    <div class="p-5 clickable block-b" (click)="nextPage('B')">
      <h1>Blok B</h1>
    </div>

    <div class="p-5 clickable block-c" (click)="nextPage('C')">
      <h1>Blok C</h1>
    </div>

    <div class="p-5 clickable block-d" (click)="nextPage('D')">
      <h1>Blok D</h1>
    </div>

  </div>
</div>
