<main class="container" *ngIf="user" fxLayout="column" fxLayoutAlign="center center">
    <div class="mt-5 mb-5" *ngIf="user">
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="card-auto-shadow card-auto-border">
          <p-card>
            <div class="light-text-green-shadow" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
              <h3 class="mt-3">{{user?.firstName}} {{user?.lastName}}</h3>

              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <span class="mr-5 ml-5">Izba: {{user?.room ? user?.room : '-'}}</span>
                <span class="mr-5 ml-5" fxLayout="row" fxLayoutAlign="center center">Poplatok do OZ: <i [ngClass]="user?.payment ? 'pi-check' : 'pi-times'" class="ml-1 pi"></i> </span>
                <span class="ml-5 mr-5" fxLayout="row" fxLayoutAlign="center center">Práčka: <span class="ml-1" *ngIf="userWM"> č. {{userWM.uid}} do {{wmTimeToShow}}</span><i *ngIf="!userWM" class="ml-1 pi pi-times"></i> </span>
              </div>
              <div class="mb-3" fxLayout="column" fxLayoutAlign="center center">
                <span fxLayout="row" fxLayoutAlign="center center">Telocvične: <i *ngIf="userGym.length == 0" class="ml-2 pi pi-times"></i></span>
                <div *ngFor="let gym of userGym">
                  {{gym.date * 1000 | date:'EEEE, d MMMM y'}} - {{gym.timeFrom + ':00'}} - {{gym.timeUntil + ':00'}}
                </div>
              </div>
            </div>
          </p-card>
        </span>
      </div>

    </div>

  <h3 *ngIf="user" class="text-center mt-5 light-text-green-shadow">Posledné oznamy:</h3>
  <div *ngIf="user" class="mt-5" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayoutGap="40px">
    <div *ngFor="let article of articles | slice:0:3" fxLayout="column" fxLayoutAlign="center center"
         class="border clickable card-white-shadow" (click)="showArticle(article.uid)">
      <img src="assets/srj9.png">
      <h5 class="mt-2 light-text-green-shadow">{{article.title}}</h5>
    </div>
  </div>
  <div *ngIf="!user">
    <h1 class="text-center">Pre využívanie tohto systému je potrebné sa prihlásiť</h1>
  </div>
</main>


