<div class="login-container card-green-shadow  p-5" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">

  <h5 class="text-green-shadow">Prihlásenie</h5>
  <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutGap="30px">
    <span class="p-float-label">
    <input class="input-green-shadow" id="username" type="email" pInputText formControlName="email" >
    <label for="username">Email</label>
  </span>

    <span class="p-float-label">
    <input class="input-green-shadow" id="pass" type="password" pInputText formControlName="password">
    <label for="pass">Heslo</label>
  </span>

    <button class="input-green-shadow button-dark-text-green-shadow" pButton label="Prihlásiť" type="submit" ></button>
  </form>


  <span class="clickable text-center light-text-green-shadow" (click)="resetPassword()">
    Zabudli ste heslo?
  </span>

  <span class="clickable text-center light-text-green-shadow" routerLink="/auth/register" >
    Nemáte ešte účet?
    <br>
    Registrujte sa tu
  </span>
</div>
