/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-Regular.ttf") format('truetype');
}
* {
  font-family: 'Poppins', "Open Sans", Roboto, sans-serif;
}
body {
  font-size: 14px!important;
  line-height: 25px!important;
  font-weight: normal!important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #141414 !important;
  min-height: 100vh;
  color: white!important;
}

.clickable {
  cursor: pointer;
}

.p-5rem {
  padding: 5rem!important;
}

.card-green-shadow {
  box-shadow: 0 0 320px 30px #81C784;
}

.card-yellow-shadow {
  box-shadow: 0 0 320px 30px #EAD62D;
}

.card-red-shadow {
  box-shadow: 0 0 320px 30px #f44336;
}
.border-red {
  border: 5px solid #f44336;
}

.text-green-shadow {
  text-shadow: 0 0 9px #fff, 0 0 15px #81C784, 0 0 5px #fff;
}
.light-text-green-shadow {
  text-shadow: 0 0 2px #fff;
}

.button-dark-text-green-shadow {
  text-shadow: 0 0 9px #212529;
}

.input-green-shadow {
  box-shadow: 0 0 15px 2px #81C784;
}

.input-red-shadow {
  box-shadow: 0 0 15px 2px #f44336;
}

.border-green {
  border: 5px solid #81C784;
}

.border-yellow {
  border: 5px solid #EAD62D;
}


.card-auto-shadow {
  //border: #ffffff 2px solid;
  width: 100%;
  position: relative;
  background-color: #141414;
}

.card-auto-shadow:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  // background-color: #2196f3;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);

  background-size: 400%;
  //filter: blur(50px);
  animation: animateBgColor 20s linear infinite;
}

.card-auto-shadow::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  // background-color: #2196f3;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  filter: blur(30px);
  animation: animateBgColor 20s linear infinite;
}

@keyframes animateBgColor {
  0% {
  //  filter: hue-rotate(0deg);
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
    //filter: hue-rotate(360deg);
  }
}
