/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-Regular.ttf") format('truetype');
}
* {
  font-family: 'Poppins', "Open Sans", Roboto, sans-serif !important;
}
body {
  font-size: 14px!important;
  line-height: 25px!important;
  font-weight: normal!important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #f1f1f1 !important;
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
}

.p-5rem {
  padding: 5rem!important;
}

