<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
  <div *ngIf="!isLoading" class="mt-5">
    <div *ngIf="userWM">
      Máte zarezervovanu práčku číslo {{userWM.uid}}.
      <div *ngIf="userWM.adminTimeUntil !== userWM.timeUntil">
        Prosim vyzdvihnite kluce od pracovne do {{getTimeFromUnix(userWM.adminTimeUntil)}}
        Zostava vam este sek
      </div>
      <div *ngIf="userWM.adminTimeUntil === userWM.timeUntil">
        Pracka je rezervovana do {{getTimeFromUnix(userWM.timeUntil)}}
        Zostava vam este sek
      </div>
    </div>

    <div *ngIf="!userWM">
      <p-button label="Rezervuj" (click)="reserve()"></p-button>
    </div>
  </div>
</div>
