<div *ngIf="!room">
  <div class="container mt-5">
    <p-steps [model]="items"></p-steps>
  </div>
  <router-outlet></router-outlet>
</div>

<div *ngIf="room">
    <div class="container mt-5 light-text-green-shadow text-center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="card-red-shadow border-red rounded">
          <p-card>
            <div class="p-3 pl-5 pr-5 ml-5 mr-5" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
              <h3>{{this.room}}</h3>
              <div *ngFor="let user of roomObj?.users">
                <h5>{{user.firstName}} {{user.lastName}}</h5>
              </div>
              <h5 *ngIf="roomObj?.users.length < 2">-</h5>
              <h5 *ngIf="roomObj?.users.length < 3">-</h5>
              <h5 *ngIf="roomObj?.users.length < 4">-</h5>
              <ng-template #noUser><h5>-</h5></ng-template>
            </div>
          </p-card>
        </div>

      </div>
    </div>

</div>
